<style>
.how-it-works{
    border-top:solid 20px white;
}
.how-it-works i{
color:white;
}
</style>

<div class="how-it-works">
<div class="container" style="width: 95%; background:rgb(128, 167, 128);"
>
  <h2 class="text-center">How it Works for Employers</h2>
  <div class="row">
    <div class="col-md-2 col-6 text-center">
      <i class="fas fa-clipboard-check fa-3x mb-3"></i>
      <p>Post a job<br>Fill all gaps</p>
    </div>
    <div class="col-md-2 col-6 text-center">
      <i class="fas fa-credit-card fa-3x mb-3"></i>
      <p>Make Payments</p>
    </div>
    <div class="col-md-2 col-6 text-center">
      <i class="fas fa-user-tie fa-3x mb-3"></i>
      <p>Check applicants<br>Invite interview</p>
    </div>
    <div class="col-md-2 col-6 text-center">
      <i class="fas fa-file-contract fa-3x mb-3"></i>
      <p>Hire<br>Send a contract</p>
    </div>
    <div class="col-md-2 col-6 text-center">
      <i class="fas fa-clipboard-list fa-3x mb-3"></i>
      <p>Send all details<br>How client will come at your place</p>
    </div>
    <div class="col-md-2 col-6 text-center">
      <i class="fas fa-money-bill-wave fa-3x mb-3"></i>
      <p>Release payments<br>after 30 days</p>
    </div>
  </div>
</div>
</div>
