{% extends 'jobapp/base.html' %} {% block content %} {%load static%}
{%load jobapp_tags%}
<style>
  .carousel-height{
    max-height:600px;
    
  }
  p{
    color:black;
  }

</style>
<div id="slider-home" class="carousel slide carousel-height" data-ride="carousel" data-interval="false">
  <ul class="carousel-indicators">
    <li data-target="#slider-home" data-slide-to="0" class="active"></li>
    <li data-target="#slider-home" data-slide-to="1"></li>
    <li data-target="#slider-home" data-slide-to="2"></li>
    <li data-target="#slider-home" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active video-player">
      <video autoplay muted loop onended="nextSlide()">
        <source src="{% static 'videos/video1.mp4' %}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <!--<img src="https://i.ibb.co/JRrHmhv/shanghai.jpg" alt="Chicago" />-->
      <div class="carousel-caption">
        <h3>discover a new you!</h3>
     <p>Transform your look today with our special offers!</p>
{% if request.user|has_group:"employer" %}
    <a class="btn btn-primary" href="{% url 'nannies' %}">View Nannies</a>
        <a class="btn btn-primary" href="{% url 'jobPosting' %}">Post Job</a>

{% elif request.user|has_group:"nanny" %}
<a class="btn btn-secondary" href="{% url 'job_listing' %}">Jobs Available</a>
<a class="btn btn-secondary" href="{% url 'job_application_status' %}">My Applications</a>
{% else %}
    <a class="btn btn-primary" href="{% url 'nannies' %}">View Nannies</a>
<a class="btn btn-secondary" href="{% url 'job_listing' %}">Jobs Available</a>
{% endif %}
      </div>
    </div>

    <div class="carousel-item video-player">
      <video autoplay muted loop onended="nextSlide()">
        <source src="{% static 'videos/video3.mp4' %}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="carousel-caption">
        <h3>discover a new you!</h3>
        <p>Transform your look today with our special offers!</p>
    {% if request.user|has_group:"employer" %}
    <a class="btn btn-primary" href="{% url 'nannies' %}">View Nannies</a>
        <a class="btn btn-primary" href="{% url 'jobPosting' %}">Post Job</a>

{% elif request.user|has_group:"nanny" %}
<a class="btn btn-secondary" href="{% url 'job_listing' %}">Jobs Available</a>
<a class="btn btn-secondary" href="{% url 'job_application_status' %}">My Applications</a>
{% else %}
    <a class="btn btn-primary" href="{% url 'nannies' %}">View Nannies</a>
<a class="btn btn-secondary" href="{% url 'job_listing' %}">Jobs Available</a>
{% endif %}
      </div>
    </div>
    



    <div class="carousel-item video-player">
      <video autoplay muted loop onended="nextSlide()">
        <source src="{% static 'videos/video2.mp4' %}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
       <div class="carousel-caption">
        <h3>discover a new you!</h3>
        <p>Transform your look today with our special offers!</p>
      {% if request.user|has_group:"employer" %}
    <a class="btn btn-primary" href="{% url 'nannies' %}">View Nannies</a>
        <a class="btn btn-primary" href="{% url 'jobPosting' %}">Post Job</a>

{% elif request.user|has_group:"nanny" %}
<a class="btn btn-secondary" href="{% url 'job_listing' %}">Jobs Available</a>
<a class="btn btn-secondary" href="{% url 'job_application_status' %}">My Applications</a>
{% else %}
    <a class="btn btn-primary" href="{% url 'nannies' %}">View Nannies</a>
<a class="btn btn-secondary" href="{% url 'job_listing' %}">Jobs Available</a>
{% endif %}
      </div>
    </div>


    <div class="carousel-item">
      <video autoplay muted loop onended="nextSlide()">
        <source src="{% static 'videos/video4.mp4' %}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
       <div class="carousel-caption">
        <h3>discover a new you!</h3>
        <p>Transform your look today with our special offers!</p>
{% if request.user|has_group:"employer" %}
    <a class="btn btn-primary" href="{% url 'nannies' %}">View Nannies</a>
        <a class="btn btn-primary" href="{% url 'jobPosting' %}">Post Job</a>

{% elif request.user|has_group:"nanny" %}
<a class="btn btn-secondary" href="{% url 'job_listing' %}">Jobs Available</a>
<a class="btn btn-secondary" href="{% url 'job_application_status' %}">My Applications</a>
{% else %}
    <a class="btn btn-primary" href="{% url 'nannies' %}">View Nannies</a>
<a class="btn btn-secondary" href="{% url 'job_listing' %}">Jobs Available</a>
{% endif %}
      </div>
    </div>


  </div>
  <a class="carousel-control-prev" href="#slider-home" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider-home" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<script>
  function nextSlide() {
    $('#slider-home').carousel('next'); // move to next slide
}
</script>


{% include 'home/recent_posted_jobs.html' %}
{% include 'home/nanny_how_it_works.html'%}
{% include 'home/featured_nannies.html' %}
{% include 'home/employer_how_it_works.html' %}
{% include 'home/about_us.html'%}
{% endblock %}

