<style>
.recent-jobs {
  width: 95%;
  margin: 0 auto;
  padding: 30px 0;
  justify-content:center;
}
.recent-jobs h2 {
  align-self: center;
}

.jobs-container {
  display: flex;
  justify-content: space-between;
}

.job-card {
  width: 30%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.job-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.job-card p {
  font-size: 18px;
  margin-bottom: 10px;
}

.job-card a {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

.view-more-container {
  text-align: center;
  margin-top: 30px;
}

.view-more-link {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

.view-more-link i {
  margin-left: 5px;
}
.recent-jobs-heading {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .jobs-container {
    display: block;
  }
  .job-card {
    margin-bottom: 20px;
  }
}
  </style>
<!--Recently posted jobs-->
<div class="recent-jobs">
  <h2 class="recent-jobs-heading">Recently Posted Jobs:</h2>
  <div class="jobs-container">
    {% for job in recent_jobs %}
    <div class="job-card">
      <h3>{{ job.category }}</h3>
      <p>{{ job.city }}</p>
      <p>{{ job.employer }}</p>
      <p>{{ job.start_date }}</p>
      <a href="{% url 'job_detail' job.id %}">View Details</a>
    </div>
    {% endfor %}
  </div>
  <div class="view-more-container">
    <a href="{% url 'job_listing' %}" class="view-more-link">
      View More Jobs <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>