<!--Recently posted jobs-->
<div class="recent-jobs">
  <h2 class="recent-jobs-heading">Recently Posted Jobs:</h2>
  <div class="jobs-container">
    {% for job in recent_jobs %}
    <div class="job-card">
      <h3>{{ job.category }}</h3>
      <p>{{ job.city }}</p>
      <p>{{ job.employer }}</p>
      <p>{{ job.start_date }}</p>
      <a href="{% url 'job_detail' job.id %}">View Details</a>
    </div>
    {% endfor %}
  </div>
  <div class="view-more-container">
    <a href="{% url 'job_listing' %}" class="view-more-link">
      View More Jobs <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>