<!--Recently posted jobs-->
<div class="recent-jobs">
  <h2 class="recent-jobs-heading">Recently Posted Jobs:</h2>
  <div class="jobs-container">
    <p style="text-align: end;">{{ job_count }} jobs</p>
    {% for job in recent_jobs %}
    <div class="job-card">
      <h3>{{ job.category }}<span><a style="color: rgb(9, 115, 229);" href="{% url 'save_job' job.id %}"> <i class="bi bi-bookmark-fill px-5"></i></a></span></h3>
      <p>{{ job.city }}</p>
      <p>{{ job.employer }}</p>
      <p>{{ job.start_date }}</p>
      <a href="{% url 'job_detail' job.id %}">View Details</a>
    </div>
    {% endfor %}
  </div>
  <div class="view-more-container">
    <a href="{% url 'job_listing' %}" class="view-more-link">
      View More Jobs <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>