.min-height-450 {
    min-height: 450px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.mpesa-button {
    background-color: #3AA335;
    /* M-Pesa original color */
}

.paypal-button {
    background-color: #003087;
    /* PayPal original color */
}