{%load static%}
{% load jobapp_tags %}
{% include 'jobapp/head.html'%}

<link rel="stylesheet" href="{%static 'css/base.css'%}"/>

<link rel="stylesheet" href="{% static 'css/registration.css' %}"/>
<link rel="stylesheet" href="{% static 'css/header.css' %}"/>
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" href="{% static 'css/base.css' %}"/>
<link rel="stylesheet" href="{% static 'css/nannyDetails.css' %}"/>
<link rel="stylesheet" href="{% static 'css/chat.css' %}"/>
<!-- Add this code inside the <head> tag of your base template -->
<link rel="stylesheet" href="{% static 'css/loading.css' %}">
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
<link rel="stylesheet" href="{% static 'css/nanny.css' %}">
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
<link rel="stylesheet" href="{% static 'css/jobs.css' %}">
<link rel="stylesheet" href="{% static 'css/payment_home.css'%}">
<link rel="stylesheet" href="{% static 'css/bootstrap_tags.css'%}">
<link rel="stylesheet" href="{% static 'css/icons/bootstrap-icons.min.css'%}">
</head>
<body>
    <!-- -->
<div class="loading-overlay">
  <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>



   {% include 'jobapp/header.html'%}
   {% block content%} {% endblock content%}
   {% include 'jobapp/footer.html'%}
   
    <!---js-->
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
      <script src="{% static 'js/chat.js' %}"></script>
      <script src="{% static 'js/post_review.js' %}"></script>
      <script src="{% static 'js/base.js' %}"></script>
       <script src="{% static 'js/language.js' %}"></script>

</body>
</html>
