{% extends 'jobapp/base.html' %}

{% block content %}
  <div class="container">
    <h1>Contract Details</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered table-hover">
          <tbody>
            <tr>
              <td><strong>Job Category:</strong></td>
              <td>{{ contract.job.category }}</td>
            </tr>
            <tr>
              <td><strong>City:</strong></td>
              <td>{{ contract.job.city }}</td>
            </tr>
            <tr>
              <td><strong>Address:</strong></td>
              <td>{{ contract.job.addresss }}</td>
            </tr>
            <tr>
              <td><strong>Salary:</strong></td>
              <td>{{ contract.amount }}</td>
            </tr>
            <tr>
              <td><strong>Company Commission:</strong></td>
              <td>{{ contract.company_commission }}</td>
            </tr>
            <tr>
              <td><strong>Language:</strong></td>
              <td>{{ contract.job.language }}</td>
            </tr>
            <tr>
              <td><strong>Nanny Age Group:</strong></td>
              <td>{{ contract.job.nanny_age }}</td>
            </tr>
            <tr>
              <td><strong>Hours Per Day:</strong></td>
              <td>{{ contract.job.hours_per_day }}</td>
            </tr>
            <tr>
              <td><strong>Start Date:</strong></td>
              <td>{{ contract.job.start_date }}</td>
            </tr>
            <tr>
              <td><strong>Years of Experience:</strong></td>
              <td>{{ contract.job.years_of_experience }}</td>
            </tr>
            <tr>
              <td><strong>Contract Duration:</strong></td>
              <td>{{ contract.job.duration }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Save Changes</button>
              <button type="button" class="btn btn-primary">{{ contract.status }}</button>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
