{%load static%}

<footer class="footer-section mt-4" style="background: rgb(128, 167, 128)">
  <div class="head_container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>1010 Avenue, sw 54321, chandigarh</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>9876543210 0</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>employnanny.com</span>
            </div>
          </div>
        </div>

          <div class="col-xl-4 col-md-4 mb-30">
          <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
              <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
              <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
            </div>
        </div>

      </div>
    </div>
   
  </div>

<div class="copyright-area">
  <div class="container">
    <div class="row">
      
          <p class="text-center">
            Copyright &copy; 2023, All Right Reserved
            <a href="https://techmaniacc.netlify.app/" style="text-decoration: none;">Mania</a>
          </p>
      
    </div>
  </div>
</div>


  </div>
</footer>
