{% load static %}
{%load jobapp_tags%}


<style>
.username{
  text-transform: capitalize;
}

</style>
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
       
        <div class="col-md-5 col-sm-12 right_info">
          <p><i class="fa fa-map-marker"></i> Kenyatta road 400-00100</p>
        </div>
        
        <div class="col-md-7 col-sm-12 left_info">
          <ul>
            <li><i class="fa fa-mobile-alt"></i><a href="0740743521">+2547890822</a></li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <a href="home">employnanny.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header-main">
    <div class="head_container">
      <nav id="cssmenu">
        <div class="logo">
          <a href="{% url 'home' %}">
            <img class="logo3" src="{% static 'images/logo.png' %}" alt="P" />
          </a>
        </div>
        <div id="head-mobile"></div>
        <div class="button"></div>
        <ul>
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li>
  <a href="#">Services</a>
  <ul style="background-color: rgb(110, 132, 248)">

    {% if request.user|has_group:'employer'%}
      <li style="background-color: rgb(110, 132, 248)">
        <a href="{% url 'jobPosting' %}">Post Job</a>
      </li>
      {% endif %}
    <li style="background-color: rgb(110, 132, 248)">
      <a href="{% url 'job_listing' %}">Job listings</a>
    </li>
  </ul>
</li>
          <li><a href="{%url 'about_us'%}">About</a></li>
           <li>
            <a href="#" class="username">
              {% if user.is_authenticated %}
                {{ user.username }}
              {% else %}
                Account
              {% endif %}
            </a>
            <ul>
              {% if user.is_authenticated %}
                <!-- show user-specific links here -->
           {% if request.user|has_group:'nanny'%}
                <li>
                  <a href="{% url 'job_application_status' %}" style="background-color: rgb(110, 132, 248)">Applications Status</a>
                </li>
                           {% elif request.user|has_group:'employer'%}

<li>
  <a href="#" style="background-color: rgb(110, 132, 248)">Job Applicants</a>
</li>
{% endif %}

                <li>
                  <a href="{% url 'nannyDetails' %}" style="background-color: rgb(110, 132, 248)">My Profile</a>
                </li>
                     <li>
                  <a href="{% url 'logout' %}" style="background-color: rgb(110, 132, 248)">Logout</a>
                </li>
              {% else %}
                <!-- show login and register links here -->
                <li>
                  <a href="#" style="background-color: rgb(110, 132, 248)">Register</a>
<ul>
 <li>
                  <a href="{% url 'nannyRegister' %}" style="background-color: rgb(110, 132, 248)">nanny</a>
                </li>
                <li>
                  <a href="{% url 'employerRegister' %}" style="background-color: rgb(110, 132, 248)">Employer</a>
                </li>
</ul>
                 
                <li>
                  <a href="{% url 'login' %}" style="background-color: rgb(110, 132, 248)">Login</a>
                </li>
              {% endif %}
            </ul>
          </li>
<li><a href="{% url 'view_all_contracts' %}">Contracts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

