{% load static %}
{%load jobapp_tags%}


<style>


</style>
<header>
  <div class="header-top hidden-xs">
    <div class="container">
      <div class="row">
       
        <div class="col-md-5 col-sm-12 right_info">
          <p><i class="fa fa-map-marker"></i> Kenyatta road 400-00100</p>
        </div>
        
        <div class="col-md-7 col-sm-12 left_info">
          <ul>
            <li><i class="fa fa-mobile-alt"></i><a href="0740743521">+2547890822</a></li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <a href="home">employnanny.com</a>
            </li>
<i class="fa fa-question" aria-hidden="true"></i>
              <a href="{% url 'help' %}">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header-main">
    <div class="head_container">
      <nav id="cssmenu">
        <div class="logo">
          <a href="{% url 'home' %}">
            <img class="logo3" src="{% static 'images/logo.png' %}" alt="P" />
          </a>
        </div>
        <div id="head-mobile"></div>
        <div class="button"></div>
        <!--List of header links-->
        <ul>

          <!--Homepage link-->
          <li class=""><a href="{% url 'home' %}">Home</a></li>
          
          <li>
  <a href="#">Jobs</a>
  <ul style="background-color: #0275d8">

    {% if request.user|has_group:'employer'%}
      <li style="background-color: #0275d8">
        <a href="{% url 'jobPosting' %}">Post Job</a>
      </li>
      {% endif %}

{% if request.user|has_group:'employer' %}
<li style="background-color: #0275d8">
      <a href="{% url 'job_listing' %}">My Jobs</a>
    </li>
    <li style="background-color: #0275d8">
      <a href="{% url 'nannies' %}">Nanies Available</a>
    </li>
    <li><a href="{% url 'view_all_contracts' %}" style="background-color: #0275d8">Contracts</a></li>
    <li><a href="{% url 'employer_transaction_report' %}">Transactions</a></li>
        <li><a href="{% url 'payment' %}" style="background-color: #0275d8">Make Payments</a></li>
{% elif  request.user|has_group:'nanny'%}
  <li style="background-color: #0275d8">
      <a href="{% url 'job_listing' %}">Jobs Available</a></li>
      <li><a href="{% url 'view_all_contracts_nanny' %}" style="background-color: #0275d8">Contracts</a></li>
      <li><a href="{% url 'nanny_transaction_report' %}">Payments</a>
    {% else %}
    <li style="background-color: #0275d8">
      <a href="{% url 'job_listing' %}">Jobs Available</a></li>
    {% endif %}
  </ul>
</li>
     
           <li>
            <a href="#" class="username">
              {% if user.is_authenticated %}
                {{ user.username }}
              {% else %}
                Account
              {% endif %}
            </a>
            <ul>
              {% if user.is_authenticated %}
                <!-- show user-specific links here -->
           {% if request.user|has_group:'nanny'%}
                <li>
                  <a href="{% url 'job_application_status' %}" style="background-color: #0275d8">Applications Status</a>
                </li>
             
{% endif %}

{% if request.user|has_group:'nanny'%}
                <li>
                  <a href="{% url 'nannyDetails' %}" style="background-color: #0275d8">My Profile</a>
                </li>
                {% endif %}
                     <li>
                  <a href="{% url 'logout' %}" style="background-color: #0275d8">Logout</a>
                </li>
              {% else %}
                <!-- show login and register links here -->
                <li>
                  <a href="#" style="background-color:#0275d8">Register</a>
<ul>
 <li>
                  <a href="{% url 'nannyRegister' %}" style="background-color: #0275d8">nanny</a>
                </li>
                <li>
                  <a href="{% url 'employerRegister' %}" style="background-color: #0275d8">Employer</a>
                </li>
</ul>
                 
                <li>
                  <a href="{% url 'login' %}" style="background-color: #0275d8">Login</a>
                </li>
              {% endif %}
            </ul>
          </li>
          {% if user.is_authenticated%}
          <li><a href="{% url 'chat_list' %}" >Message</a></li>
          {% endif %}

               <li><a href="{%url 'about_us'%}">About</a></li>
<li><a href="{% url 'notification_list' %}" >Notifications</a></li>
 
        </ul>
      </nav>
    </div>
  </div>
</header>

