{% extends 'jobapp/base.html' %}
{% block content %}

<style>
  form input,
  form select {
    min-width: 250px;
    height: 30px;
  }

  .bootstrap-tagsinput {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .bootstrap-tagsinput .tag {
    background-color: #007bff;
    color: white;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
  }

  .bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: 'x';
    margin-left: 0.5rem;
  }

  /* Typeahead dropdown menu */
  .dropdown-menu.typeahead {
    max-height: 200px;
    overflow-y: auto;
  }

  .dropdown-menu.typeahead .active {
    background-color: #007bff;
    color: white;
  }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">

<div class="container my-4" style="max-width:70%">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 class="text-center mb-4 nanny_details_h2">Post a Job</h2>
      <form method="POST" enctype="multipart/form-data" class="pl-4">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        {% if form.errors %}
          <div class="alert alert-danger">
            <strong>Error:</strong>
            {% for field in form %}
              {% if field.errors %}
                <ul>
                  {% for error in field.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.category.id_for_label }}">Category:</label>
              {{ form.category }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.city.id_for_label }}">Location:</label>
              {{ form.city }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.addresss.id_for_label }}">Address:</label>
              {{ form.addresss }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.salary.id_for_label }}">Salary:</label>
              {{ form.salary }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.language.id_for_label }}">Language:</label>
              <input type="text" name="{{ form.language.name }}" class="form-control typeahead" data-role="tagsinput" autocomplete="off">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.nanny_age.id_for_label }}">Age Group:</label>
              {{ form.nanny_age }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.hours_per_day.id_for_label }}">Hours per Day:</label>
              {{ form.hours_per_day }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.start_date.id_for_label }}">Start Date:</label>
              {{ form.start_date }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.years_of_experience.id_for_label }}">Years of Experience:</label>
              {{ form.years_of_experience }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.duration.id_for_label }}">Contract Duration:</label>
              {{ form.duration }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.days_off.id_for_label }}">Days Off:</label>
              {{ form.days_off }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.leave_available.id_for_label }}">Leave Available:</label>
              {{ form.leave_available }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="{{ form.vacation_days_per_year.id_for_label }}">Vacation Per Year:</label>
              {{ form.vacation_days_per_year }}
            </div>
          </div>
          <div class="form-group full-width">
            <label for="{{ form.job_description.id_for_label }}">Job Description:</label>
            {{ form.job_description }}
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">Post Job</button>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script>
  $(document).ready(function() {
    var languages = [
      "English",
      "Spanish",
      "French",
      "German",
      "Italian"
    ];

    var languageSuggestions = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: languages
    });

    $('.typeahead').tagsinput({
      typeaheadjs: {
        source: languageSuggestions.ttAdapter(),
        displayKey: function(item) {
          return item;
        }
      }
    });

    $('.typeahead').on('typeahead:render', function() {
      $('.dropdown-menu.typeahead').css('display', 'block');
    });

    // Example code to add pre-selected tags
    $('.typeahead').tagsinput('add', 'English');
    $('.typeahead').tagsinput('add', 'Spanish');
    $('.typeahead').tagsinput('add', 'French');
    $('.typeahead').tagsinput('add', 'German');
    $('.typeahead').tagsinput('add', 'Italian');
  });
</script>

{% endblock %}
