{% extends 'jobapp/base.html' %}

{% block content %}

{% load jobapp_tags %}


<style>
p{
    color:black;
}
.card-title {
    font-weight: bold;
}
</style><div class="container status-height">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Contract Details</h1>
      <div class="card">
     {% if request.user|has_group:'nanny'%}
<a href="{% url 'view_all_contracts_nanny' %}" class="btn btn-primary mb-3 btn-sm">&lt;&lt; Back</a>
{% else %}
<a href="{% url 'view_all_contracts' %}" class="btn btn-outline-primary mb-3 btn-sm">&lt;&lt; Back</a>
{% endif %}

        <div class="card-body">
          <p class="card-title">Job:</p>
          <p class="card-text">{{ contract.job }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="card-title">Nanny:</p>
            <p class="card-text">{{ contract.nanny }}</p>
          </li>
          <li class="list-group-item">
            <p class="card-title">Employer:</p>
            <p class="card-text">{{ contract.employer }}</p>
          </li>
          <li class="list-group-item">
            <p class="card-title">Start Date:</p>
            <p class="card-text">{{ contract.start_date }}</p>
          </li>
          <li class="list-group-item">
            <p class="card-title">Duration:</p>
            <p class="card-text">{{ contract.job.duration }} days</p>
          </li>
          <li class="list-group-item">
            <p class="card-title">Status:</p>
            {% if status == "Terminated" %}
              <p class="card-text text-danger">{{ status }}</p>
            {% elif status == "Active" %}
              <p class="card-text text-primary">{{ status }}</p>
            {% else %}
              <p class="card-text">{{ status }}</p>
            {% endif %}
          </li>
        </ul>
        {% if status == "Active" %}
        <div class="text-center mb-5">
  <form method="POST" action="{% url 'end_contract' contract.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">End Contract</button>
  </form>
</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
