{% extends 'jobapp/base.html' %}


{% block content %}

<div class="d-sm-flex text-dark"  id="blogs">
    <section id="blog_sec" class="m-3">
    <div class="card p-2 mb-2" style="margin: auto; width: 90%;">
    <h5 class="card-title text-dark" style="font-weight: 900;">{{ blog_post.title }}</h5>
    <P id="post_by" class="card-text m-0" style="color: rgb(160, 160, 160);">By <a href="{%url 'show_authors_blogpost' blog_post.author.id %}">{{ blog_post.author }}</a> {{blog_post.date_published| date}}</P>
    {% if blog_post.image %}
    <img src="{{ blog_post.image.url }}" class="card-img-top p-2">
    {% endif %}
    <div class="card-body">
      <p class="card-text text-lead">{{ blog_post.content}}</p>
      
    </div>
  </div>
 
  <div  id="comment_sec">
    {% if comments.count == 1 %}
    <h3><span id="commentsCount">{{comments.count }}</span> Comment</h3>

    {% elif not comments.count %}
    <h3 id="commentsCount"></h3>
    {% else %}
    <h3><span  id="commentsCount">{{comments.count }}</span> Comments</h3>
    {% endif %}
  
    <div id="commentsSec" class="p-3" style="background-color: white;">
      {% for comment in comments %}
      
        <h4 class="mb-0"><i class="bi bi-person-circle text-secondary mb-0 me-2"></i>{{ comment.author }}</h4>
      
        <p  class="ms-4 mt-0 mb-0 rounded border-top border-left border-right p-3 pb-0" style="color: rgb(160, 160, 160);"><small>{{ comment.date_published| timesince }} ago.</small></p>
     
        <p class="ms-4 p-3 pt-0 mt-0 rounded border-bottom border-left border-right " >{{comment.text }}</p>
        <button class="ms-4" id="mybtn3" onclick="formToggle({{ forloop.counter }})">reply</button>
      
        <hr>
        {% if request.user.is_authenticated %}
        <div id="form{{forloop.counter}}" class="commentreplyform" style="display: none;">
            <form id="commentReply" faction="{% url 'save_formreply' comment.id %}" method="POST" style="padding-top: 0;">
            <button type="button" class="btn btn-small btn-secondary-outline" id="mybtn4" onclick="formToggle({{ forloop.counter }})" style="display: block;">x</button>
                <span id="commentReplyCsrf">{% csrf_token %}</span>
                <p>Reply to {{ comment.author }}</p>
                <span class="d-none"> {{ commentreplyForm.author }}</span>
                {{ commentreplyForm.text.label }}
                {{ commentreplyForm.text }}
                <button   id="commentreplyBtn" class="commentreplyBtn btn btn-outline-primary">Post comment</button>
            </form>
        </div>
      
        {% endif %}
       <div class="border-left border-5 ps-2" id="commentreplies">
        {% for reply in comment.blogcommentreply_set.all %}
        <h6 class="mb-0"><i class="bi bi-person-circle text-secondary mb-0 me-2"></i>{{ reply.author }}</h6>
      
        <p  class="ms-4 mt-0 mb-0 rounded border-top border-left border-right p-3 pb-0" style="color: rgb(160, 160, 160);"><small>{{ reply.date_published| timesince }} ago.</small></p>
        <p class="ms-4 p-3 pt-0 mt-0 rounded border-bottom border-left border-right">{{ reply.text}}</p>
        <hr>
        {% endfor %}
       </div>
       {% endfor %}

    </div>

    {% if request.user.is_authenticated %}
     <form id="comment_form" action="{% url 'save_comment' %}" method="POST" class="mt-0">
        <h4>Leave a comment</h4>
        <span id="csrf">{% csrf_token %}</span>
        <span class="d-none">{{ commentsForm.blog }}</span>
        {{ commentsForm.text }}
        <span class="d-none">{{ commentsForm.author }}</span>
        <button class="btn btn-outline-primary">Post comment</button>
     </form>
    {% endif %}
  </div>
  </section>

  {% include 'blog/blog_aside.html'%}
  </div>
  <script>

  </script>
 
{% endblock content %}
