{% extends 'jobapp/base.html' %}

{% block content %}
{% load static %}

<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsModalLabel">Terms and Conditions for Nannies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li><strong>Platform Usage:</strong></li>
          <ul>
            <li>All conversations and communication should take place within the platform.</li>
            <li>All transactions, including payments, should be conducted through the platform.</li>
            <li>In case of any issues or concerns, it is important to report them immediately through the platform.</li>
          </ul>
          <li><strong>Payment and Opting Out:</strong></li>
          <ul>
            <li>If you choose to opt out of the platform, refrain from reporting payment-related matters.</li>
            <li>Staying within the platform ensures transparency and faster payment processing.</li>
          </ul>
          <li><strong>Verified Payments:</strong></li>
          <ul>
            <li>Only apply to jobs that have verified payment information.</li>
            <li>Verified payment ensures a secure and reliable transaction process.</li>
          </ul>
          <li><strong>Job Description:</strong></li>
          <ul>
            <li>Carefully read and understand the job description before applying.</li>
            <li>Make sure the job requirements and expectations align with your skills and preferences.</li>
          </ul>
          <li><strong>Contract Termination and Pending Payments:</strong></li>
          <ul>
            <li>Upon contract termination, you will receive notification of the reasons for termination.</li>
            <li>If there are any pending payments, report them within 15 days of contract termination.</li>
          </ul>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<section class="signup" style="background-color: rgb(237, 247, 236);">
  <div class="center">
    <style>
      .alert {
        color: rgb(126, 5, 5);
      }
    </style>
    <form method="POST" action="">
      {% csrf_token %}
      <table>
        <tr>
          <td style="width: 33.33%;">
            <div class="dash"></div>
          </td>
          <td style="padding: 0 6px;">
            <h1 style="color: rgb(110, 132, 248)">Nanny Registration</h1>
          </td>
          <td style="width: 33.33%;">
            <div class="dash"></div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <p>Create your account. It's free and only takes a minute.</p>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div>
              {{ form.username }}
              {% if form.errors %} <p>{{ form.username.errors }}</p> {% endif %}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div>
              {{ form.email }}
              {% if form.errors %} <p role="alert">{{ form.email.errors }}</p> {% endif %}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div>
             
              {{ form.password1 }}
              {% for error in form.password1.errors %}
              <p class="alert">{{ error }}</p>
              {% endfor %}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div>
             
              {{ form.password2 }}
              {% for error in form.password2.errors %}
              <p class="alert">{{ error }}</p>
              {% endfor %}
            </div>
          </td>
        </tr>
        <tr>
      <td colspan="3">
  <div class="terms" style="display: flex; align-items: center;">
    <input id="checkid2" class="check1" type="checkbox" value="test" style="margin-right: 5px;"> 
    <label for="checkid2" class="check2">I accept the <a href="#" data-toggle="modal" data-target="#termsModal">Terms of Use</a> &amp; <a href="#" data-toggle="modal" data-target="#termsModal">Privacy Policy.</a></label>
  </div>
</td>

        </tr>
        <tr>
          <td colspan="3">
            <div style="background-color: lightblue;">
              <input style="background-color: lightblue;" type="submit" value="Register Now">
            </div>
            <p>Already have an account? <a href="{% url 'login'%}">Login</a></p>
          </td>
        </tr>
      </table>
    </form>

    <script>
      var form_fields = document.getElementsByTagName('input');

      form_fields[1].placeholder = 'Username...';
      form_fields[2].placeholder = 'Email...';
      form_fields[3].placeholder = 'Password...';
      form_fields[4].placeholder = 'Confirm Password...';
      form_fields[5].placeholder = 'Phone (Optional)...';

      for (var field in form_fields) {
        form_fields[field].className += ' form-control';
      }
    </script>

    <style>
      form table {
        background-color: red;
        padding-top: 20%;
      }
    </style>
  </div>
</section>
{% endblock %}
