{% extends 'jobapp/base.html' %}
{% block content %}
{% load static %}

<style>
  .wide-input {
    width: 100%;
  }

</style>

<div class="nanny_details">
  <h2 class="nanny_details_h2" style="text-align: center">
    Nanny Details Form
  </h2>
  
  <div class="container my-4 nanny_details">
          {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error:</strong>
      {% for field in form %}
        {% if field.errors %}
          <ul>
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
          </div>
          <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name }}
          </div>
          <div class="form-group">
            <label for="{{ form.phone.id_for_label }}">Phone:</label>
            {{ form.phone }}
          </div>
          <div class="form-group">
            <label for="{{ form.id_number.id_for_label }}">ID Number:</label>
            {{ form.id_number }}
          </div>
          <div class="form-group">
            <label for="{{ form.city.id_for_label }}">City:</label>
            {{ form.city }}
          </div>
          <div class="form-group">
            <label for="{{ form.address.id_for_label }}">Address:</label>
            {{ form.address }}
          </div>
          <div class="form-group">
            <label for="{{ form.level_of_education.id_for_label }}">Level of Education:</label>
            {{ form.level_of_education }}
          </div>
          <div class="form-group">
            <label for="{{ form.recommendation_letter.id_for_label }}">Recommendation Letter:</label>
            {{ form.recommendation_letter }}
          </div>
          <div class="form-group">
            <label for="{{ form.id_front.id_for_label }}">ID Front:</label>
            {{ form.id_front_image }}
          </div>
          <div class="form-group">
            <label for="{{ form.id_back.id_for_label }}">ID Back:</label>
            {{ form.id_back_image }}
          </div>
          <div class="form-group">
            <label for="{{ form.good_conduct.id_for_label }}">Certificate of Good Conduct:</label>
            {{ form.good_conduct_certificate }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.nationality.id_for_label }}">Nationality:</label>
            {{ form.nationality }}
          </div>
          <div class="form-group">
            <label for="{{ form.availability.id_for_label }}">Availability:</label>
            {{ form.availability }}
          </div>
          

          <div class="form-group">
            <label for="{{ form.years_of_experience.id_for_label }}">Years of Experience:</label>
            {{ form.years_of_experience }}
          </div>
          <div class="form-group">
            <label for="{{ form.age_bracket.id_for_label }}">Age:</label>
            {{ form.age_bracket }}
          </div>
          <div class="form-group language-input-container">
              <label for="{{ form.language.id_for_label }}">Language:</label>
              <input type="text" name="{{ form.language.name }}" class="form-control typeahead" autocomplete="off">
              <div class="language-suggestions"></div> <!-- Empty div for suggestions -->
            </div>
          <div class="form-group full-width">
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
          </div>
          <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Image:</label>
            {{ form.image }}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="width: 200px; margin-bottom: 50px;">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

<script>

  
$(document).ready(function() {
  var languages = [
    "English",
    "Swahili",
    "Kikuyu",
    "Luhya",
    "Kalenjin",
    "Luo",
    "Kamba",
    "Kisii",
    "Meru",
    "Mijikenda",
    "Taita",
    "Pokomo",
    "Taveta",
    "Kuria",
    "Aembu",
    "Ambeere",
    "Wadawida-Watuweta",
    "Somali",
    "Borana",
    "Rendille",
    "Oromo",
    "Maasai",
    "Turkana",
    "Samburu",
    "Pokot",
    "Nandi",
    "Hindi",
    "Arabic",
    "Portuguese",
    "German",
    "French",
    "Spanish"
    // Add more Kenyan languages or other languages here
  ];

  var languageSuggestions = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: languages
  });

  $('.typeahead').tagsinput({
    typeaheadjs: {
      source: languageSuggestions.ttAdapter(),
      displayKey: function(item) {
        return item;
      }
    }
  });

  $('.typeahead').on('input', function() {
    var input = $(this);
    var suggestionsContainer = input.closest('.language-input-container').find('.language-suggestions');

    if (input.val().length > 0) {
      suggestionsContainer.empty();

      var suggestions = languageSuggestions.get(input.val());

      if (suggestions.length > 0) {
        suggestions.forEach(function(suggestion) {
          var listItem = $('<li></li>').text(suggestion);
          suggestionsContainer.append(listItem);
        });

        var inputOffset = input.offset();
        var inputHeight = input.outerHeight();

        suggestionsContainer.css({
          top: inputOffset.top + inputHeight,
          left: inputOffset.left,
          width: input.outerWidth()
        });

        suggestionsContainer.show();
      } else {
        suggestionsContainer.hide();
      }
    } else {
      suggestionsContainer.hide();
    }
  });

  $(document).on('click', '.language-suggestions li', function() {
    var selectedValue = $(this).text();
    var input = $(this).closest('.language-input-container').find('.typeahead');

    input.tagsinput('add', selectedValue);
    input.val('');
    input.closest('.language-input-container').find('.language-suggestions').hide();
  });

  $(document).on('click', function(e) {
    var target = $(e.target);

    if (!target.hasClass('typeahead')) {
      $('.language-suggestions').hide();
    }
  });
});

</script>


{% endblock %}
