<!-- index.html -->
{% extends 'jobapp/base.html' %}

{% block content %}
<div class="container container-height mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 bg-light" style="width:80%">
      <div class="chat-container">
        <div class="d-flex align-items-center">
          {% if receiver.profile_picture %}
            <img src="{{ receiver.profile_picture.url }}" alt="{{ receiver.user.username }}" class="mr-4 user-avatar">
          {% else %}
            <i class="fas fa-user-circle fa-3x mr-4" style="color:rgb(128, 167, 128)"></i>
          {% endif %}
          
            <p class="mb-0 mr-4">{{ receiver.user.username }}</p>
            <p class="mr-4">{{ room_name }}</p>
          
          
          <input type="hidden" id="receiver-id" value="{{ receiver.user.id }}">
          
          <input id="room-name-submit" type="button" class="btn btn-primary" value="Enter Room">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#room-name-submit').onclick = function(e) {
    var receiverId = document.querySelector('#receiver-id').value;
    var roomName = '{{ room_name }}';
    window.location.pathname = '/chat/' + roomName + '/' + receiverId + '/';
  };
</script>

<style>
  .user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .container-height{
    min-height:500px;
  }
</style>
{% endblock %}
