<!-- index.html -->
{% extends 'jobapp/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="chat-container">
        <h3>Select Receiver:</h3>
        <p>Receiver: {{ receiver.user.username }}</p> <!-- Display the receiver's username -->
        <input type="hidden" id="receiver-id" value="{{ receiver.user.id }}"> <!-- Store the receiver's ID in a hidden input field -->
        <br>
        <input id="room-name-input" type="text" class="form-control" placeholder="Enter Room Name">
        <br>
        <input id="room-name-submit" type="button" class="btn btn-primary" value="Enter Room">
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#room-name-input').focus();
  document.querySelector('#room-name-input').onkeyup = function(e) {
    if (e.keyCode === 13) {  // Enter key
      document.querySelector('#room-name-submit').click();
    }
  };

  document.querySelector('#room-name-submit').onclick = function(e) {
    var receiverId = document.querySelector('#receiver-id').value;
    var roomName = document.querySelector('#room-name-input').value;
    window.location.pathname = '/chat/' + roomName + '/' + receiverId + '/';
  };
</script>
{% endblock %}


<!--

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="chat-container">
        <h3>Select Receiver:</h3>
        <select id="receiver-select" class="form-control">
          {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
          {% endfor %}
        </select>
        <br>
        <input id="room-name-input" type="text" class="form-control" placeholder="Enter Room Name">
        <br>
        <input id="room-name-submit" type="button" class="btn btn-primary" value="Enter Room">
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#room-name-input').focus();
  document.querySelector('#room-name-input').onkeyup = function(e) {
    if (e.keyCode === 13) {  // Enter key
      document.querySelector('#room-name-submit').click();
    }
  };

  document.querySelector('#room-name-submit').onclick = function(e) {
    var receiverId = document.querySelector('#receiver-select').value;
    var roomName = document.querySelector('#room-name-input').value;
    window.location.pathname = '/chat/' + roomName + '/' + receiverId + '/';
  };
</script>
-->
