{% extends 'jobapp/base.html' %}
{% block content  %}

<div class="container">
    <h1>Employer Report</h1>
    
    <h2>Payment Details</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Description</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.phone_number }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.status }}</td>
                <td>{{ payment.description }}</td>
                <td>{{ payment.timestamp |date:"d/m/y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Salary Payment Details</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nanny</th>
                <th>Contract</th>
                <th>Amount</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for salary_payment in salary_payments %}
            <tr>
                <td>{{ salary_payment.nanny.first_name }}</td>
                {% if salary_payment.contract %}
  <td>{{ salary_payment.contract.job.category }}</td>
{% elif salary_payment.direct_contract %}
  <td>{{ salary_payment.direct_contract.job_category }}</td>
{% endif %}
                <td>{{ salary_payment.amount }}</td>
                <td>{{ salary_payment.payment_date |date:"d/m/y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--advance salary-->
    <h2>Advance Salary Details</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                 <th>Nanny</th>
                <th>Contract</th>
                <th>Amount</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for advance in advance_salary %}
            <tr>
           <td>{{ advance.nanny }}</td>
           <td>{{ advance.contract.status }}</td>
           <td>{{ advance.amount }}</td>
           <td>{{ advance.timestamp |date:"d/m/y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--end of advance salary-->
    <h2>Employer Transaction Details</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Total Deposited</th>
                <th>Total Salary Paid</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ employer_transactions.total_deposited }}</td>
                <td>{{ employer_transactions.total_withdrawn }}</td>
                <td><strong>{{ employer_transactions.balance }}</strong></td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'generate_employer_transaction' %}" class="btn btn-primary" download>Download Report</a>

</div>
{% endblock content %}

